@import "tailwindcss";

:root {
  --background: #fcf4eb;
  --foreground: #e2d7cc;
  --primary: #f96d41;
  --text: #2c2525;
  --border: #2c252548;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--text);
  --color-primary: var(--primary);
  --color-border: var(--border);
}

.instrument {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
